<h2>User</h2>
<p>Welcome <%= @user['name'] %>!</p>
<p>Region: <%= @region['title'] %></p>


<h2>Products</h2>

<table>
  <% @products.each do |product| %>
    <tr>
      <td><%= product['title'] %>&nbsp;&nbsp;&nbsp;</td>
      <td><%= product['description'] %>&nbsp;&nbsp;&nbsp;</td>
      <td><%= product['stock'] %> available &nbsp;&nbsp;&nbsp;</td>
      <td><%= link_to 'Add Product', "/add_to_cart/#{product['id']}" %></td>
    </tr>
  <% end %>
</table>


<% if @cart.present? %>
  <%
    currency = @cart['region']['currency_code']
    totals = @cart['totals']
  %>
  <h2>Cart</h2>
  <table>
    <tr colspan='5'>
      <td>Products</td>
    </tr>
    <% @cart['products'].each do |product| %>
      <%
        quantity = product['quantity']
        price = product['price']
      %>
      <tr>
        <td><%= product['title'] %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= "#{currency} #{price}" %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
          <%= link_to '+', "/update_quantity/#{product['id']}/#{quantity}/increase" %>
          &nbsp;<%= quantity %>&nbsp;
          <% if quantity .to_i > 1 %>
            <%= link_to '-', "/update_quantity/#{product['id']}/#{quantity}/decrease" %>
          <% end %>
        </td>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Remove', "/remove_product/#{product['id']}" %>
        </td>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;<%= price.to_i * quantity.to_i %>
        </td>
      <tr>
    <% end %>
    <tr colspan='5'>
      <td>Totals</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= "#{currency} #{totals['total']}" %></td>
    </tr>
    <tr>
      <td>Tax</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= "#{currency} #{totals['tax']}" %></td>
    </tr>
    <tr>
      <td>Order Total</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= "#{currency} #{totals['order_total']}" %></td>
    </tr>
    <% if totals['order_total'].to_i > 0 %>
    <tr>
      <td></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;Pay Now</td>
    </tr>
    <% end %>
  </table>
<% end %>
<br />
<br />
<br />
<br />
<%= link_to 'Logout', '/users/logout' %>